In [22]:
import pandas as pd
import pyarrow
import psycopg2

In [2]:
pd.__version__

'1.4.2'

In [8]:
df = pd.read_parquet('yellow_tripdata_2022-03.parquet')
df.to_csv('yellow_tripdata_2022-03.csv')

In [9]:
df = pd.read_csv('yellow_tripdata_2022-03.csv', nrows=100)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [36]:
df_iter = pd.read_csv('yellow_tripdata_2022-03.csv', iterator=True, chunksize=100000)

In [37]:
df = next(df_iter)

In [38]:
len(df)

100000

In [39]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [40]:
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2022-03-01 00:13:08,2022-03-01 00:24:35,1.0,2.40,1.0,N,90,209,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5,0.00
1,1,1,2022-03-01 00:47:52,2022-03-01 01:00:08,1.0,2.20,1.0,N,148,234,2,10.5,3.0,0.5,0.00,0.0,0.3,14.30,2.5,0.00
2,2,2,2022-03-01 00:02:46,2022-03-01 00:46:43,1.0,19.78,2.0,N,132,249,1,52.0,0.0,0.5,11.06,0.0,0.3,67.61,2.5,1.25
3,3,2,2022-03-01 00:52:43,2022-03-01 01:03:40,2.0,2.94,1.0,N,211,66,1,11.0,0.5,0.5,4.44,0.0,0.3,19.24,2.5,0.00
4,4,2,2022-03-01 00:15:35,2022-03-01 00:34:13,1.0,8.57,1.0,N,138,197,1,25.0,0.5,0.5,5.51,0.0,0.3,33.06,0.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,2022-03-01 21:22:51,2022-03-01 21:37:20,1.0,6.62,4.0,N,132,265,1,23.5,0.5,0.5,5.21,0.0,0.3,31.26,0.0,1.25
99996,99996,2,2022-03-01 21:15:10,2022-03-01 21:26:49,2.0,2.50,1.0,N,43,236,1,10.5,0.5,0.5,2.86,0.0,0.3,17.16,2.5,0.00
99997,99997,2,2022-03-01 21:23:57,2022-03-01 21:38:43,1.0,2.28,1.0,N,162,239,1,11.5,0.5,0.5,2.60,0.0,0.3,17.90,2.5,0.00
99998,99998,2,2022-03-01 21:55:02,2022-03-01 22:13:42,1.0,3.95,1.0,N,48,41,1,16.0,0.5,0.5,4.95,0.0,0.3,24.75,2.5,0.00
99999,99999,1,2022-03-01 21:15:00,2022-03-01 21:19:44,1.0,1.10,1.0,N,113,68,1,5.5,3.0,0.5,1.85,0.0,0.3,11.15,2.5,0.00

In [41]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [42]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.81 s, sys: 477 ms, total: 5.28 s
Wall time: 11.7 s

1000

In [43]:
from time import time

In [44]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.526 second
inserted another chunk, took 10.821 second
inserted another chunk, took 15.324 second
inserted another chunk, took 11.128 second
inserted another chunk, took 11.047 second
inserted another chunk, took 10.722 second
inserted another chunk, took 10.238 second
inserted another chunk, took 12.492 second
inserted another chunk, took 10.789 second
inserted another chunk, took 14.486 second
inserted another chunk, took 14.244 second
inserted another chunk, took 10.867 second
inserted another chunk, took 12.674 second
inserted another chunk, took 11.165 second
inserted another chunk, took 15.415 second
inserted another chunk, took 25.526 second
inserted another chunk, took 28.505 second
inserted another chunk, took 12.302 second
inserted another chunk, took 11.097 second
inserted another chunk, took 10.731 second
inserted another chunk, took 10.948 second
inserted another chunk, took 13.531 second
inserted another chunk, took 13.862 second
inserted another chunk, took 11.322 second
inserted another chunk, took 12.098 second
inserted another chunk, took 10.807 second
inserted another chunk, took 12.347 second
inserted another chunk, took 13.833 second
inserted another chunk, took 10.469 second
inserted another chunk, took 10.206 second
inserted another chunk, took 10.560 second
inserted another chunk, took 10.780 second
inserted another chunk, took 10.590 second
inserted another chunk, took 10.518 second

/var/folders/wq/9r9y5cp52f9_q3yrjtwy1_d80000gn/T/ipykernel_36971/2113580993.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.712 second
inserted another chunk, took 2.635 second

StopIteration:

In [45]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-06-30 00:43:06--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.1.30
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.1.30|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-06-30 00:43:06 (27.0 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [46]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [47]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [48]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265